.seller-register-text {
    margin-left: 1rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: #006eff;
    text-decoration: underline;
    font-family: "Poppins", sans-serif;
    font-size: 1.90rem;
  }